<main class="px-4 py-12 mx-auto w-80">
  <h1 class="text-3xl text-center">Wordle HUD</h1>

  <form class="flex justify-center mt-4" (submit)="makeGuess(newGuess)">
    <input class="h-12 text-xl text-center border w-80" [(ngModel)]="newGuess" name="newGuess" />
  </form>

  <div class="mt-4 select-none">
    <div class="flex justify-center" *ngFor="let guess of getGuesses(); index as row">
      <div *ngFor="let hint of guess; index as col" class="flex items-center justify-center w-16 h-16"
        [ngClass]="{ 'bg-yellow-500': hint.color === 1, 'bg-gray-500': hint.color === 0, 'bg-green-500': hint.color === 2 }"
        (click)="changeColor(row, col)">
        {{hint.letter.toUpperCase()}}
      </div>
    </div>
  </div>

  <div class="flex justify-end mt-4">
    <button *ngIf="getGuesses().length > 0" class="px-8 py-2 text-white bg-red-400 rounded"
      (click)="reset()">Reset</button>
  </div>

  <div class="flex flex-wrap justify-center mt-4">
    <span class="p-1" *ngFor="let word of getPossibleAnswers()" (click)="makeGuess(word)">{{word}}</span>
  </div>
</main>
